/************************************************************************/
/* HEADER STYLES
/************************************************************************/

header[role="banner"] {
	@include clearfix;
	background: $grey;
	padding: 2rem 0;
	
	.custom-logo-link {
		float: left;
		display: block;
	}
}